body {margin:0;font-family:Arial}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black;
}
.sidenav {
  background-color: black;
}
.sidenav li > a {
    color: rgb(253, 253, 253);
}
.sidenav li > a:hover {
    background-color: rgba(137, 55, 204, 0.91);
}
.btn {
  background: black;
}
.btn:hover {
  background-color: rgba(137, 55, 204, 0.91);
}

#shareIcon {
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #shareIcon {
    display: inline;
  }
}



