body {margin:0;font-family:"Lato", sans-serif}
html { scroll-behavior: smooth; }
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #36393F;
}
.sidenav {
  background-color: #36393F;
}
.sidenav li > a {
    color: rgb(253, 253, 253);
}
.sidenav li > a:hover {
    background-color: rgba(137, 55, 204, 0.91);
}
.btn {
  background: #36393F;
}
.btn:hover {
  background-color: rgba(137, 55, 204, 0.91);
}

img {
  height: 100%;
  width: 100%;
}
#shareIcon {
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #shareIcon {
    display: inline;
  }
}
.patreon-logo {
  height: 50px;
  width: 200px;
}
.telegram-logo {
    height: 50px;
    width: 50px;
}
.twitter-logo {
    height: 50px;
    width: 50px;
}
.card-title {
    color: white !important;
    font-weight: bold !important;
}
#dropdown2 {
  background:rgb(132, 88, 157) none repeat scroll 0% 0%;
  border-radius: 25px;
}
#dropdown1 {
  background: #36393F;
  color: rgb(132, 88, 157);
}
#dropdown1 li > a {
  background: #36393F;
  color: rgb(210, 134, 253);
}