body {margin:0;font-family:Arial}

a.navbar-item {
  cursor: pointer;
  color: white;
}
.navbar-brand {
  background-color: black;
}
.navbar.is-dark .navbar-burger {
    color: #f5f5f5;
}
.navbar-burger:hover {
    background-color: rgba(255, 255, 255, 0.05);
    a: hover {
    color: #f9f4f4;
   }
}
.navbar.is-dark {
    color: #f5f5f5;
}
.navbar-menu {
  background-color: #2B2828;
  box-shadow: 0 8px 16px rgba(10,10,10,.1);
  padding: .5rem 0;
}
.customBurger{
  background-color: white;
}
#shareIcon {
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #shareIcon {
    display: inline;
  }
}



