body {margin:0;font-family:Arial}

.feed-card {
  display: block;
  font-weight: bold;
  padding: 1.25rem;
  max-width: 600px;
  margin: 10px;
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 0px none #000000;
  -webkit-box-shadow: -6px 5px 15px -7px rgba(0,0,0,0.69);
  -moz-box-shadow: -6px 5px 15px -7px rgba(0,0,0,0.69);
  box-shadow: -6px 5px 15px -7px rgba(0,0,0,0.69);
}

#feeder-site {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  margin: 8px;
}

#story-count {
  display: block;
  font-size: 20px;
}

.feed-card img {
  width: 100%;
  min-height: 100%;
}

#story-count {
  text-align: center;
}

.devfeed-heading {
  text-align: center;
}

