{% extends 'base.html' %}
{% block title %}
	About
{% endblock %}
{% block container %}
	<center>
	<div id="about">
		<h1>About</h1>
		<h4>devfeed is a Tech Feed Aggregator for developers & Tech Enthusiasts</h4>
		<h5>devfeed is powered by dedicated & popular <a href="/feeders">feeders</a> to provide content.</h5>
		<h5>Made by <a href="https://bhupesh.codes/">Bhupesh Varshney</a>, available on
		<a href="https://github.com/Bhupesh-V/devfeed"><i class="fa fa-github" aria-hidden="true"></i></a>
		</h5>
		<a href="https://twitter.com/bhupeshimself?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @bhupeshimself</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<iframe src="https://ghbtns.com/github-btn.html?user=bhupesh-v&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
	</div>
	<div id="version">
		<h3>Version</h3>
		<div id="version-info"></div>
	</div>
	<div id="cli">
		<h3>Do you 💟 Terminals ?</h3>
		<h4>then you would like the devfeed CLI</h4>
		<h4>Install defe using pip</h4><br>
		<img src="static/images/pippackage.png">
	</div>
	</center>
{% endblock %}