<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content="width=device-width,height=device-height, initial-scale=1.0, shrink-to-fit=yes">
    <meta name="twitter:title" content="devfeed">
    <meta name="author" content="Bhupesh Varshney" />
    <meta property="og:title" content="devfeed" />
    
    <meta name="keywords" content="devtools, feed, devfeed, developers, podcasts, newsletters, tech news">
    <meta name="description" content="A Tech aggregator for Developers">
    <meta property="og:description" content="A Tech aggregator for Developers"/>
    <meta name="twitter:description" content="A Tech aggregator for Developers">
    
    <meta name="theme-color" content="#75D608" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#75D608">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@bhupeshimself">
    
    <meta property="og:url" content="" >
    <!--     <meta property="og:image" content=""/> -->
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="360" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
    <script defer src="https://use.fontawesome.com/releases/v4.7.0/js/all.js"></script>
    <!--     <meta name="twitter:image" content="">
    <link rel="shortcut icon" type="image/png" href="images/logo.png"/> -->
    <title>devfeed</title>
  </head>
  <body>
    <nav class="darkmode-ignore">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">devfeed</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class='dropdown-trigger' data-target='dropdown1' href="/">Feed</a></li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/">General</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/podcasts">Podcasts</a></li>
            <li><a href="/newsletters">Newsletters</a></li>
          </ul>
          <li><a href="/feeders">Feeders</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/feedback">Feedback</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a class='dropdown-trigger' data-target='dropdown2' href="/">Feed</a></li>
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="/">General</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a href="/newsletters">Newsletters</a></li>
      </ul>
      <li><a href="/feeders">Feeders</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/feedback">Feedback</a></li>
    </ul>

    {% block filterfeed %}
    {% endblock %}


      <div class="container">
        {% block container %}{% endblock %}
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large" style="background-color: rgba(137, 55, 204, 0.91)">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a onclick="topFunction()"class="btn-floating red"><i class="material-icons">keyboard_arrow_up</i></a></li>
          <li><a onclick="switch_mode()" class="btn-floating yellow darken-1"><i class="material-icons">brightness_4</i></a></li>
          <li><a onclick="share('devfeed', 'https://defe-app.herokuapp.com')" class="btn-floating green"><i class="material-icons">share</i></a></li>
<!--           <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
        </ul>
      </div>
      <script defer src="/static/script.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
      <script>
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        function switch_mode(){
          var options = {
            time: '0.3s', // default: '0.3s'
            mixColor: '#fff', // default: '#fff'
            backgroundColor: '#fff',  // default: '#fff'
            saveInCookies: true, // default: true,
            autoMatchOsTheme: true // default: true
          }
          const darkmode =  new Darkmode(options);
          darkmode.toggle();
        }
      </script>

      <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
          var dropdowns = document.querySelectorAll('.dropdown-trigger');
          var instances = M.Dropdown.init(dropdowns);

          var sidenav = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(sidenav, "edge");

          var fixedaction = document.querySelectorAll('.fixed-action-btn');
          var instances = M.FloatingActionButton.init(fixedaction, {
              direction: 'left'
          });

          var select_options = document.querySelectorAll('select');
          var instances = M.FormSelect.init(select_options);

          var collapsible = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(collapsible);
      });
      </script>
      <script>
      window.onload = function() {
          registerSW();
          setTimeout(storycount, 200);
          setTimeout(rewrite_summary, 200);
          setTimeout(rewrite_description, 200);
      };
      async function registerSW() {
          if ('serviceWorker' in navigator) {
              try {
                  await navigator.serviceWorker.register("{{ url_for('static', filename='sw.js') }}");
              } catch (e) {
                  //SW registration failed, oh no :(
              }
          }
      }
      
      var input = document.getElementById("feed-input");
      input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
              event.preventDefault();
              document.getElementById("fetchfeed").click();
          }
      });
      var filter_by = document.getElementById("feed-input");
      filter_by.addEventListener("input", function(event) {
          if (filter_by.value == "Reddit") {
              show_subreddits();
          }
      });
      </script>
    </body>
  </html>