{% extends 'base.html' %}
{% block header %}
	<div class="feed-options">
		<button type="button" onclick="clear_previous_feed()">Clear Feed</button>
	</div>
{% endblock %}
{% block container %}
	<center>
	<div id="feed">
		{% if allfeed %}
			{% for feed in allfeed %}
				{% for item in feed %}
					<div id="feed-card">
						<a href="{{ item['link']}}">{{ item["title"] }}</a>
						<h4>By {{ item["author"] }}</h4>
						<details>
						<summary>Summary</summary>
						<div id="feed-summary">
							{{ item["summary"] }}
						</div>
						</details>
						<p><blockquote>{{ item["published"] }}</blockquote></p>
						<button class="fa fa-share-alt" id="shareIcon" onclick='share("{{ item["title"] }}","{{ item["link"] }}")'></button>
					</div>
				{% endfor %}
			{% endfor %}
		{% endif %}
	</div>
	</center>
{% endblock %}