{% extends 'base.html' %}
{% block title %}
	Feedback - defe
{% endblock %}
{% block container %}
	<center>
	<div id="feedback">
		<h1>Feedback 😬</h1>
		<img src="https://i.imgflip.com/3cbd4d.png">
		<h5>Do you have some feedback for me ?</h5>
		<h5>Reach out on</h5>
		<a class="tooltipped" data-position="left" data-tooltip="@bhupeshimself" href="https://t.me/bhupeshimself">
			<img alt="Telegram @bhupeshimself" class="social-logo" src="static/images/telegram.png">
		</a>
		<a class="tooltipped" data-position="top" data-tooltip="@bhupeshimself" href="https://twitter.com/intent/tweet?screen_name=bhupeshimself&ref_src=twsrc%5Etfw" data-text="Hi Bhupesh, Can you ..." data-show-count="false">
			<img alt="Tweet to @bhupeshimself" class="social-logo" src="static/images/twitter.png">
		</a>
		<a class="tooltipped" data-position="right" data-tooltip="varshneybhupesh@gmail" href="mailto:varshneybhupesh@gmail.com?subject=Feedback Regarding defe&body=Hello Bhupesh,">
			<img alt="Email to varshneybhupesh@gmail.com" class="social-logo" src="static/images/email.png">
		</a>
	</div>
	</center>
{% endblock %}