{% extends 'base.html' %}
{% block title %}
	Feeders
{% endblock %}
{% block container %}
	<center>
	<div id="feed-site-info">
		<h1>Feeders</h1>
		<h5>Feeders are sites which defe uses to fetch content, RSS/Atom feeds of around {{ total }} sources are fetched to deliver content.</h5>
		<i><b>Disclaimer:</b> All the content shown on defe is owned & managed by the respective parties. defe does not modify the content (although a small amount of styling may change)</i>
		<div class="card-panel darkmode-ignore"><h6>You can add & request more feeders by opening a <a href="https://github.com/Bhupesh-V/devfeed/pulls" class="waves-effect waves-light btn"><i class="fa fa-code-fork" aria-hidden="true"></i> Pull Request</a></h6></div>
		{% if feed_sites %}
			<h3>General</h3>
			<span class="white-text badge blue" data-badge-caption="">{{ feed_sites|length }}</span><br>
			<ul class="collection">
				{% for item in feed_sites %}
					<li class="collection-item"><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if podcasts_sites %}
			<h3>Podcasts</h3>
			<span class="white-text badge blue" data-badge-caption="">{{ podcasts_sites|length }}</span><br>
			<ul class="collection">
				{% for item in podcasts_sites %}
					<li class="collection-item"><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if newsletter_feeds %}
			<h3>Newsletters</h3>
			<span class="white-text badge blue" data-badge-caption="">{{ newsletter_feeds|length }}</span><br>
			<ul class="collection">
				{% for item in newsletter_feeds %}
					<li class="collection-item"><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if news_sites %}
			<h3>News</h3>
			<span class="white-text badge blue" data-badge-caption="">{{ news_sites|length }}</span><br>
			<ul class="collection">
				{% for item in news_sites %}
					<li class="collection-item"><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	</center>
{% endblock %}