{% extends 'base.html' %}
{% block container %}
	<center>
	<div id="feed-site-info">
		<h1>Feeders</h1>
		{% if feed_sites %}
			<h3>General</h3>
			<ul>
				{% for item in feed_sites %}
					<li><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if podcasts_sites %}
			<h3>Podcasts</h3>
			<ul>
				{% for item in podcasts_sites %}
					<li><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if newsletter_feeds %}
			<h3>Newsletters</h3>
			<ul>
				{% for item in newsletter_feeds %}
					<li><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if news_sites %}
			<h3>News</h3>
			<ul>
				{% for item in news_sites %}
					<li><a href="{{ item['link'] }}">{{ item["name"] }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	</center>
{% endblock %}