{% extends 'base.html' %}
{% block container %}
	<center>
	<div id="feedback">
		<h1>Feedback 😬</h1>
		<img src="https://i.imgflip.com/3cbd4d.png">
		<h5>Do you have some feedback for me ?</h5>
		<h5>Reach out on</h5>
		<a href="https://t.me/bhupehimself">
			<img alt="Telegram @bhupehimself" class="social-logo" src="static/images/telegram.png">
		</a>
		<a href="https://twitter.com/intent/tweet?screen_name=bhupeshimself&ref_src=twsrc%5Etfw" data-text="Hi Bhupesh, Can you ..." data-show-count="false">
			<img alt="Tweet to @bhupeshimself" class="social-logo" src="static/images/twitter.png">
		</a>
		<a href="mailto:?subject=Feedback Regarding devfeed&body=Hello Bhupesh, mailto:varshneybhupesh@gmail.com">
			<img alt="Email varshneybhupesh@gmail.com" class="social-logo" src="static/images/email.png">
		</a>
	</div>
	</center>
{% endblock %}