{% extends 'base.html' %}
{% block header %}
	<div class="feed-options">
		<button type="button" value="hackernews" onclick="invoke_hn()">Hacker News</button>
		<button type="button" value="dev" onclick="invoke_dev()">dev.to</button>
		<button type="button" value="techcrunch" onclick="invoke_tc()">TechCrunch</button>
		<button type="button" value="freecodecamp" onclick="invoke_fcc()">freeCodeCamp</button>
		<button type="button" value="hackernoon" onclick="invoke_hackernoon()">HackerNoon</button>
		<button type="button" value="producthunt" onclick="invoke_ph()">ProductHunt</button>

		<label for="reddit">SubReddit</label>
		<select id="reddit">
		  <option value="programming" onclick="reddit(this.value)">r/programming</option>
		  <option value="technology" onclick="reddit(this.value)">r/technology</option>
		  <option value="cpp" onclick="reddit(this.value)">r/cpp</option>
		  <option value="python" onclick="reddit(this.value)">r/python</option>
		  <option value="javascript" onclick="reddit(this.value)">r/javascript</option>
		  <option value="Android" onclick="reddit(this.value)">r/Android</option>
		  <option value="learnprogramming" onclick="reddit(this.value)">r/learnprogramming</option>
		  <option value="software" onclick="reddit(this.value)">r/software</option>
		  <option value="startups" onclick="reddit(this.value)">r/startups</option>
		  <option value="tech" onclick="reddit(this.value)">r/tech</option>
		  <option value="web_design" onclick="reddit(this.value)">r/web_design</option>
		  <option value="linux" onclick="reddit(this.value)">r/linux</option>
		  <option value="computing" onclick="reddit(this.value)">r/computing</option>
		  <option value="coding" onclick="reddit(this.value)">r/coding</option>
		  <option value="AskTechnology" onclick="reddit(this.value)">r/AskTechnology</option>
		  <option value="webdev" onclick="reddit(this.value)">r/webdev</option>
		</select>
		<label for="reddit-sort">Sort</label>
		<select id="reddit-sort">
			<option value="top">Top</option>
			<option value="new">New</option>
			<option value="rising">Rising</option>
			<option value="controversial">Controversial</option>
		</select>

		<br>
		<button type="button" onclick="clear_previous_feed()">Clear Feed</button>
	</div>
{% endblock %}
{% block container %}
<div id="feed"></div>
{% endblock %}