{% extends 'base.html' %}
{% block container %}
	<center>
	<div id="feedback">
		<h1>Feedback 😬</h1>
		<img src="https://i.imgflip.com/3cbd4d.png">
		<h5>Do you have some feedback for me ?</h5>
		<h5>Reach out to me on</h5>
		<a href="https://t.me/bhupehimself">
			<i class="fa fa-telegram" aria-hidden="true"></i>
		</a>
		<a href="https://twitter.com/intent/tweet?screen_name=bhupeshimself&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-text="Hi Bhupesh, Can you " data-show-count="false">Tweet to @bhupeshimself</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	</div>
	</center>
{% endblock %}