{% extends 'base.html' %}
{% include 'feed-filter.html' %}
{% block container %}
	<center>
	<div id="feed">
		{% if newsletter_feed %}
			{% for item in newsletter_feed %}
				<div class="feed-card">
					<a href="{{ item['link']}}">{{ item["title"] }}</a>
					<details>
					<summary>📖 Read on devfeed 👇</summary>
					<div class="feed-summary">
						{{ item["summary"] }}
					</div>
					</details>
					<button class="fa fa-share-alt" id="shareIcon" onclick='share("{{ item["title"] }}","{{ item["link"] }}")'></button>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	</center>
{% endblock %}