{% extends 'base.html' %}
{% block container %}
	<center>
	<div id="feed">
		{% if podcast_feed %}
			{% for item in podcast_feed %}
				<div class="feed-card">
					<a href="{{ item['link']}}">{{ item["title"] }}</a>
					<details><br>
					<summary>Summary</summary>
					<div class="feed-summary">
						{{ item["summary"] }}
					</div>
					</details><br>
					<details>
					<summary>Description</summary>
					<div class="feed-description">
						{{ item["description"] }}
					</div>
					</details><br>
					<figure>
						<figcaption>
							<h3>🔊 Listen on devfeed 🎧</h3>
						</figcaption><br>
						<audio controls src="{{ item.links[1].href }}">
							Your browser does not support audio 😥
						</audio>
					</figure>
					<blockquote>
						{{ item["published_parsed"].tm_mday }}-{{ item["published_parsed"].tm_mon }}-{{ item["published_parsed"].tm_year }}
					</blockquote>
					<button class="fa fa-share-alt" id="shareIcon" onclick='share("{{ item["title"] }}","{{ item["link"] }}")'></button>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	</center>
{% endblock %}