{% extends 'base.html' %}
{% block title %}
	Latest Podcasts
{% endblock %}
{% block filterfeed %}
	{% include 'feed-filter.html' %}
{% endblock %}
{% block container %}
	<center>
	{% if filterfeed %}
		<h3>Podcasts from <a href="{{ filterfeed_link }}">{{ filterfeed }}</a></h3>
	{% endif %}
	<div id="feed">
		{% if podcast_feed %}
			{% for item in podcast_feed %}
				<div class="feed-card">
					<div class="row card-panel darkmode-ignore">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">
								<a class="card-title" href="{{ item['link']}}">{{ item["title"] }}</a>
								{% if item['author'] %}
									<span style="color: yellow; font-weight: bold;" id="feeder-site">
										{{ item["author"] }}
									</span>
								{% endif %}
							</div>
						</div>
						<p>
							<img alt="Published Date" style="height: 20px;" src="static/images/calendar.svg">
						{{ item["published_parsed"].tm_mday }}-{{ item["published_parsed"].tm_mon }}-{{ item["published_parsed"].tm_year }}</p>
						<a href="{{ item.links[1].href }}" download="{{ item['title'] }}">
							<img alt="Download Podcast" style="height: 25px;" src="static/images/download.svg">
						</a>
						<ul class="collapsible">
							<li>
								<div class="collapsible-header">Description</div>
								<div class="collapsible-body">
									<div class="feed-description">
										{{ item["description"] }}
									</div>
								</div>
							</li>
						</ul>
						<img alt="Copy Story Link" style="height: 50px; cursor: pointer;" class="copybutton" src="static/images/copy_button.png" onclick='copyToClip("{{ item["link"]}}"); M.toast({html: "Link Copied"})'><br>
						<i class="fa fa-share-alt small" id="shareIcon" onclick='share("{{ item["title"] }}","{{ item["link"] }}")'></i>
						<figure>
							<figcaption>
							<h5>🔊 Listen on devfeed 🎧</h5>
							</figcaption><br>
							<div class='audio-container'>
								<audio controls src="{{ item.links[1].href }}">
									Your browser does not support audio 😥
								</audio>
							</div>
						</figure>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	</center>
{% endblock %}