{% extends 'base.html' %}
{% block title %}
	Support Us - defe
{% endblock %}
{% block container %}
	<center>
	<div id="support">
		<h1>Support</h1>
		<img alt="it ain't much but its honest work meme" width="100%"src="https://i.kym-cdn.com/entries/icons/original/000/028/021/work.jpg">
	</div>
	<p>
		<h4>If you liked my work consider supporting me by giving defe a <span class="darkmode-ignore">🌟</span></h4>
		<iframe src="https://ghbtns.com/github-btn.html?user=bhupesh-v&repo=tutorialdb&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
		<h4>You can also support me on Patreon</h4>
		<a class="tooltipped" data-position="right" data-tooltip="Thanks for Supporting 🤗" href="https://www.patreon.com/join/2522772/checkout">
			<img alt="patreon logo" class="patreon-logo" height="30px" src="static/images/patreon.png">
		</a>
		<h4>Share defe <span class="darkmode-ignore">🤗</span></h4>
		<a href="https://twitter.com/intent/tweet?url=https://kutt.it/defe&text=Guys%20check%20this%20app%20called%20defe,%20its%20a%20Tech%20Feed%20aggregator%20for%20developers">
			<i class="fa fa-twitter-square medium" aria-hidden="true"></i>
		</a>
		<a href="https://defe-app.herokuapp.com">
			<i class="fa fa-share-square medium" aria-hidden="true"></i>
		</a>
	</p>
	</center>
{% endblock %}