{% extends 'base.html' %}
{% block container %}
	<center>
	<div id="support">
		<h1>Support</h1>
		<img width="100%"src="https://i.kym-cdn.com/entries/icons/original/000/028/021/work.jpg">
	</div>
	<p>
		<h4>If you liked my work consider supporting me by giving devfeed a 🌟</h4>
		<iframe src="https://ghbtns.com/github-btn.html?user=bhupesh-v&repo=tutorialdb&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

		<h4>You can also support me on Patreon</h4>
		<a href="https://www.patreon.com/join/2522772/checkout">
			<img alt="patreon logo" class="patreon-logo" height="30px" src="static/images/patreon.png">
		</a>

		<h4>Share devfeed 🤗</h4>
		<a href="">
			<i class="fa fa-linkedin-square medium" aria-hidden="true"></i>
		</a>
		<a href="">
			<i class="fa fa-twitter-square medium" aria-hidden="true"></i>
		</a>
		<a href="">
			<i class="fa fa-share-square medium" aria-hidden="true"></i>
		</a>
	</p>
	</center>
{% endblock %}